*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #1A0B2E;
    
    padding: 30px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1{
    font-size: 40px;
}
.tech{
  color: white;
}
.wave{
    background: linear-gradient(100deg, #ff007f, #b900ff);
    -webkit-background-clip: text;
    color: transparent;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.sub-btn{
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 18px;
    border-radius: 30px;
    background: linear-gradient(20deg, rgb(245, 245, 88), rgb(250, 30, 213),  rgb(168, 4, 168));
}
.sub-btn:hover{
    transform: scale(1.2);
    transition-duration: .7s;
    transform: translate( 50px) scale(1.2);
}