*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #1A0B2E;
    
    padding: 30px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1{
    font-size: 40px;
}
.tech{
  color: white;
}
.wave{
    background: linear-gradient(100deg, #ff007f, #b900ff);
    -webkit-background-clip: text;
    color: transparent;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.sub-btn{
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 18px;
    border-radius: 30px;
    background: linear-gradient(20deg, rgb(245, 245, 88), rgb(250, 30, 213),  rgb(168, 4, 168));
}
.sub-btn:hover{
    transform: scale(1.2);
    transition-duration: .7s;
    transform: translate( 50px) scale(1.2);
}
.hamberger{
    display: none;
}
header{
    /* width: 1600px; */
}
.banner-section{
    background: url("./assets/hero-bg.png");
   background-size: 100%;
   background-repeat: no-repeat;
    
padding-top: 101px;
padding-bottom: 101px;
/* background-color: aqua; */
justify-content: center;
align-items: center;
text-align: center;
}
.banner-logo{
    /* border: 1px solid rgb(245, 245, 88); */
   position: relative;
   display: inline-block;
   width: 410px;
} 
.img1{
    width: 100%;
    height: auto;
}
.img2{
    position: absolute;
    top: 105px;
    right: 145px;
    

}
.banner-heading{
  margin-top: 40px;
}
.banner-heading h1{
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
}
.banner-heading p{
    margin-top: 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    opacity: 80%;
}
.btnh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    gap: 10px;
    
}
.btn1{
  padding: 12.5px 20px;
  font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    background: linear-gradient(20deg, rgb(245, 245, 88), rgb(250, 30, 213) );
    color: #FFFFFF;
    border: none;
}
.btn2{
    padding: 12.5px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}
.about-container{
    padding: 50px 200px 120px 200px;
    background-color: #1A0B2E;
    
}
.about-section{
   
    align-items: center;
    justify-content: center;
    text-align: center;
}
.podcast{
     /* border: 2px solid red; */
    margin-bottom: 80px;
    
}
.podcast h1{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}
#p1{
   color: #FFFFFF;
   font-size: 16px;
   font-weight: 400;
   opacity: 80%;

}
.ratings{
    /* border: 2px solid blanchedalmond; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.card h1{
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 900;
    color: #00FF88;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 80%;
}


.why-choose{
    padding: 120px 200px;
    background-color: #230E3D;
    text-align: center;
}
.h1{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    
    
}

.grid{
    border: none;
    background-color: #351165;
    border-radius: 10px;
    text-align: start;
    padding: 40px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.grid h2{
    margin-top: 16px;
    margin-bottom: 16px;
    color: #FFFFFF;
}
.grid p{
    color: #FFFFFF;
    opacity: 60%;
}
.grid1{
    grid-row: span 2;
}
.grid2,
.grid3 , 
.grid4

{
    grid-column: span 2;
}




/* media query */

@media screen and (max-width: 576px) {


    header
    {
        
        width: 100%;
        background-color: #1A0B2E;
        align-items: center;
        justify-content: center;
        
    }
    .banner-section {
        width: 100%;
        background-size: 100%;  
    }
        nav{
      width: 100%;
      justify-content: space-between;
    }
    .banner-logo{
            
    }
  
    .hamberger{
        display: block;
    }
    nav ul{
        display: none;
    }
    nav button{
        display: none;
    }
    .about-container,
    .why-choose
    {
        padding: 40px 20px;
        width: 100%;
        /* background-color: #1A0B2E; */
        align-items: center;
        justify-content: center;
        
    }
    .ratings{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
    /* why chose */
   .grid-container{
    display: inline-block;
    
   }
   .grid{
     margin-top: 20px;
   }

  
  
}
@media (min-width: 993px) {
      header{
        width: 100%;
        background-color: #1A0B2E;
        align-items: center;
        justify-content: center;
        
    }
    .why-choose{
        /* padding: 60px 100px; */
    }
}








@media (min-width: 576px) and (max-width: 992px) {
    header{
        width: 100%;
        background-color: #1A0B2E;
        align-items: center;
        justify-content: center;
        
    }
    nav ul{
     display: none;
    }
      .about-container{
        padding: 40px 20px;
        width: 100%;
        background-color: #1A0B2E;
        align-items: center;
        justify-content: center;
        
    }
       .why-choose{
        padding: 60px 100px;
    }
}