*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #1A0B2E;
    
    padding: 30px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1{
    font-size: 40px;
   
}
.tech{
  color: white;
}
.wave{
    background: linear-gradient(100deg, #ff007f, #b900ff);
    -webkit-background-clip: text;
    color: transparent;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.sub-btn{
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 18px;
    border-radius: 30px;
    background: linear-gradient(20deg, rgb(245, 245, 88), rgb(250, 30, 213),  rgb(168, 4, 168));
}
.sub-btn:hover{
    transform: scale(1.2);
    transition-duration: .7s;
    transform: translate( 50px) scale(1.2);
}
.hamberger{
    display: none;
}
header{
    /* width: 1600px; */
}
.banner-section{
    background: url("./assets/hero-bg.png");
   background-size: 100%;
   background-repeat: no-repeat;
    
padding-top: 101px;
padding-bottom: 101px;
/* background-color: aqua; */
justify-content: center;
align-items: center;
text-align: center;
}
.banner-logo{
    /* border: 1px solid rgb(245, 245, 88); */
   position: relative;
   display: inline-block;
   width: 410px;
   
} 
.img1{
    width: 100%;
    height: auto;
}
.img2{
    position: absolute;
    top: 105px;
    right: 145px;
    

}
.banner-heading{
  margin-top: 40px;
}
.banner-heading h1{
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
}
.banner-heading p{
    margin-top: 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    opacity: 80%;
}
.btnh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    gap: 10px;
    
}
.btnh .btn1:hover{
    transform: scale(1.2);
    transition-duration: .7s;
    transform: translate( -50px) scale(1.2);
}
.btnh .btn2:hover{
    transform: scale(1.2);
    transition-duration: .7s;
    transform: translate( 50px) scale(1.2);
}
.btn1{
  padding: 12.5px 20px;
  font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    background: linear-gradient(20deg, rgb(245, 245, 88), rgb(250, 30, 213) );
    color: #FFFFFF;
    border: none;
}
.btn2{
    padding: 12.5px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}
.about-container{
    padding: 50px 200px 120px 200px;
    background-color: #1A0B2E;
    
}
.about-section{
   
    align-items: center;
    justify-content: center;
    text-align: center;
}
.podcast{
     /* border: 2px solid red; */
    margin-bottom: 80px;
    
}
.podcast h1{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}
#p1{
   color: #FFFFFF;
   font-size: 16px;
   font-weight: 400;
   opacity: 80%;

}
.ratings{
    /* border: 2px solid blanchedalmond; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.card h1{
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 900;
    color: #00FF88;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 80%;
}


.why-choose{
    padding: 120px 200px;
    background-color: #230E3D;
    text-align: center;
}
.h1{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    
    
}

.grid{
    border: none;
    background-color: #351165;
    border-radius: 10px;
    text-align: start;
    padding: 40px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.grid h2{
    margin-top: 16px;
    margin-bottom: 16px;
    color: #FFFFFF;
}
.grid p{
    color: #FFFFFF;
    opacity: 60%;
}
.grid1{
    grid-row: span 2;
}
.grid2,
.grid3 , 
.grid4

{
    grid-column: span 2;
}
.featured-section{
    background-color:#1A0B2E;
    padding: 120px 200px;
}
.featured-container{
    /* border: 1px solid black; */
}
.episodes{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.episodes h1{
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;

}
.cardss{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.crds{
    /* border: 2px solid white; */
    background-color: #250D44;
    border-radius: 20px;
    width: 380px;
    text-align: start;
}
.crds iframe{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.crd-content{
    padding: 24px;
}
.crd-content h3{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.crd-content .explain {
    color: #FFFFFF;
    opacity: 60%;
    margin-bottom: 12px;
}
.time{
    align-items: baseline;
    justify-content: center;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
}
.social img{
    margin-right: 5px;
}
.host{
   
    padding: 100px 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.host h1{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.host-container{
    background-color: #250D44;
    border-radius: 25px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 24px;
}
.host-bio{
    text-align: start;
}
.host-bio h3{
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.host-bio p{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    opacity: 60%;
    margin-bottom: 16px;
}


footer {
    width: 100%;
    height: 400px;
    background-image: url('/assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    
}


footer h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.fw {
    background: linear-gradient(120deg, #ff007f, #b900ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.ftr{
    display: flex;
    align-items: center;
}
.footer-container{
    padding-top: 100px;
   align-items: center;
   text-align: center;
   
   justify-content: center;}

footer .p1{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    opacity: 60%;
}
.btn10{
    align-items: center;
    background: none;
    color: #FFFFFF;
    gap: 5px;
    border: none;
    margin-right: 30px;
    font-size: 16;


    
}


/* media query */

@media screen and (max-width: 576px) {


    header
    {
        
        width: 100%;
        background-color: #1A0B2E;
        align-items: center;
        justify-content: center;
        
    }
    .banner-section {
        width: 100%;
        background-size: 100%;  
    }
        nav{
            padding: 10px;
      width: 100%;
      justify-content: space-between;
    }

  
    .hamberger{
        display: block;
    }
    nav ul{
        display: none;
    }
    nav button{
        display: none;
    }
    .about-container,
    .why-choose,
    .featured-section,
    .host
    {
        padding: 40px 20px;
        width: 100%;
        /* background-color: #1A0B2E; */
        align-items: center;
        justify-content: center;
        
    }
    .ratings{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
    /* why chose */
   .grid-container,
   .about-container,
   .cardss,
   .host-container
   {
    display: inline-block;
    
   }
   .why-choose h1{
        font-size: 43px;
   }
  .host-bio{
    text-align: center;
    margin-top: 15px;
   }
   .grid,
   .crds{
     margin-top: 20px;
   }

  
  
}
@media (min-width: 993px) {
      header{
        width: 100%;
        background-color: #1A0B2E;
        align-items: center;
        justify-content: center;
        
    }
    .why-choose{
        /* padding: 60px 100px; */
    }
    .host{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
footer {
    width: 100%;
    /* height: 400px; */
    background-image: url('/assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    
    position: relative;
}








@media (min-width: 576px) and (max-width: 992px) {
    header{
        width: 100%;
        background-color: #1A0B2E;
        align-items: center;
        justify-content: center;
        
    }
    nav ul{
     display: none;
    }
      .about-container{
        padding: 40px 20px;
        width: 100%;
        background-color: #1A0B2E;
        align-items: center;
        justify-content: center;
        
    }
       .why-choose{
        /* padding: 60px 100px; */
    }
   .host{
        width: 100%;
        margin: 0;
            padding: 0;
   }
}